<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div
  class="user-profile"
  style="background: url(assets/images/background/user-info.jpg) no-repeat"
>
  <!-- User profile image -->
  <!-- User profile text-->
  <!-- ============================================================== -->
  <!-- Profile - style you can find in header.scss -->
  <!-- ============================================================== -->
  <div class="profile-text">
    <a [matMenuTriggerFor]="sdprofile" class="">
      Usuario Prueba <i class="ti-angle-down font-12 m-l-5"></i
    ></a>
  </div>
  <div class="profile-text">
    <a [matMenuTriggerFor]="sdprofile" class="">
      RUT: XXXXXX-X <i class="ti-angle-down font-12 m-l-5"></i
    ></a>
  </div>
  <mat-menu #sdprofile="matMenu" class="mymegamenu">
    <button mat-menu-item>
      <mat-icon fontIcon="settings"></mat-icon> Ajustes
    </button>
    <button mat-menu-item>
      <mat-icon fontIcon="account_box"></mat-icon> Perfil Clinico
    </button>
    <button mat-menu-item>
      <mat-icon fontIcon="exit_to_app"></mat-icon> Cerrar Sesión
    </button>
  </mat-menu>
</div>
<mat-nav-list appAccordion>
  <mat-list-item
    appAccordionLink
    *ngFor="let menuitem of menuItems.getMenuitem()"
    routerLinkActive="selected"
  >
    <a
      class=""
      appAccordionToggle
      [routerLink]="['/', menuitem.state]"
      *ngIf="menuitem.type === 'link'"
    >
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name }}</span>
      <span fxFlex></span>
    </a>
  </mat-list-item>
</mat-nav-list>
