<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Mis Recetas</mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>

        </mat-card-content>
        <mat-tab-group (selectedIndexChange)="_setDataSource($event)">
          <mat-tab label="Mis Recetas">
            <mat-card-content>
              <table mat-table [dataSource]="dataFuturo" class="mat-elevation-z8">
                <ng-container matColumnDef="fecha_cita">
                  <th mat-header-cell *matHeaderCellDef> Fecha de Emision </th>
                  <td mat-cell *matCellDef="let element"> {{element.fecha_cita}} </td>
                </ng-container>

                <ng-container matColumnDef="hora_cita">
                  <th mat-header-cell *matHeaderCellDef> Tipo de Receta </th>
                  <td mat-cell *matCellDef="let element"> {{element.hora_cita}} </td>
                </ng-container>

                <ng-container matColumnDef="tipo_atencion">
                  <th mat-header-cell *matHeaderCellDef> Fecha de vencimiento </th>
                  <td mat-cell *matCellDef="let element"> {{element.tipo_atencion}} </td>
                </ng-container>

                <ng-container matColumnDef="profesional">
                  <th mat-header-cell *matHeaderCellDef> Estado de la Receta </th>
                  <td mat-cell *matCellDef="let element"> {{element.profesional}} </td>
                </ng-container>

                <ng-container matColumnDef="especialidad">
                  <th mat-header-cell *matHeaderCellDef> Receta </th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/path-to-your-route', element.id]">{{ element.especialidad }}</a>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="columnas_futuro"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas_futuro;"></tr>
              </table>
              <mat-paginator #paginator1
                             [pageSizeOptions]="[5]"
                             showFirstLastButtons
                             aria-label="Select page">
              </mat-paginator>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
        <!--<mat-progress-bar mode="indeterminate" value="3"></mat-progress-bar>-->
      </mat-card-content>
      <button mat-raised-button color="primary" (click)="activate()"> Despacho a domicilio </button>
    </mat-card>
  </div>
</div>
<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<mat-card>
  <mat-card-content>
    <mat-accordion class="example-headers-align" [class.cdk-visually-hidden] = "disabled">>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Información Personal </mat-panel-title>
          <mat-icon>account_circle</mat-icon>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label> Nombres </mat-label>
          <input matInput placeholder="Ej: John Richard" [formControl]="req_nombres">
          <mat-error *ngIf="req_nombres.hasError('required')">{{'Debes entrar un valor'}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Apellido Paterno </mat-label>
          <input matInput placeholder="Ej: Doe" [formControl]="req_apellido1">
          <mat-error *ngIf="req_apellido1.hasError('required')">{{'Debes entrar un valor'}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Apellido Materno </mat-label>
          <input matInput placeholder="Ej: Rick" [formControl]="req_apellido2">
          <mat-error *ngIf="req_apellido2.hasError('required')">{{'Debes entrar un valor'}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Dirección donde deben despecharse los medicamentos </mat-label>
          <input matInput placeholder="Ej: Alameda 5492" [formControl]="req_despacho">
          <mat-error *ngIf="req_despacho.hasError('required')">{{'Debes entrar un valor'}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Fecha del ultimo retiro en farmacia </mat-label>
          <input matInput placeholder="Ej: dd/MM/yyyy" [formControl]="req_ultimoretiro">
          <mat-error *ngIf="req_ultimoretiro.hasError('required')">{{'Debes entrar un valor'}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Referencia </mat-label>
          <input matInput placeholder="Ej: La casa es de color violeta" [formControl]="req_referencia">
          <mat-error *ngIf="req_referencia.hasError('required')">{{'Debes entrar un valor'}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label> RUT </mat-label>
          <input matInput placeholder="Ej: 12345678-9" [formControl]="req_rut">
          <mat-error *ngIf="req_rut.hasError('required')">{{'Debes entrar un valor'}}</mat-error>
        </mat-form-field>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
        </mat-action-row>

      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Contacto </mat-panel-title>
          <mat-icon>call</mat-icon>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label> Correo </mat-label>
          <input matInput placeholder="Ej: john.doe@gmail.com" [formControl]="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Teléfono 1 </mat-label>
          <input matInput placeholder="Ej: +56912345678" [formControl]="req_telefono">
          <mat-error *ngIf="req_telefono.hasError('required')">{{'Debes entrar un valor'}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label> Teléfono 2 </mat-label>
          <input matInput placeholder="Ej: +56912345678"> </mat-form-field>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previo</button>
          <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
        </mat-action-row>
      </mat-expansion-panel>
      <button mat-raised-button class="buttons-class" color="primary" (click)="deactivate()"> Volver </button>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->









