<!-- ============================================================== -->
<!-- Basic-->
<!-- ============================================================== -->
<mat-card>
  <mat-card-content>
    <mat-card-title>Mis Datos</mat-card-title>
  </mat-card-content>
</mat-card>
<!-- ============================================================== -->
<!-- As an Accordion -->
<!-- ============================================================== -->
<mat-card class="mid-class">
  <mat-card-content>
    <mat-accordion class="example-headers-align" >
        <mat-form-field>
          <mat-label> Nombres </mat-label>
          <mat-card-content *ngIf="data.entry[0].resource.name">
            <b>Nombre:</b>
          {{ data.entry[0].resource.name[0].given }} {{ data.entry[0].resource.name[0].family }}</mat-card-content
          >
        </mat-form-field>
        <mat-form-field>
          <mat-card-content *ngIf="data.entry[0].resource.identifier">
            <b>RUN:</b> {{ data.entry[0].resource.identifier[0].value }}</mat-card-content
          >        
        </mat-form-field>
        <mat-form-field>
          <mat-label> Correo </mat-label>
          <mat-card-content *ngIf="data.entry[0].resource.telecom">
            <b>Email:</b>
            {{ data.entry[0].resource.telecom[0].value }}</mat-card-content
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label> Teléfono 1 </mat-label>
          <mat-card-content *ngIf="data.entry[0].resource.address">
            <b>Direccion:</b>
            {{ data.entry[0].resource.address[0].line }}, {{ data.entry[0].resource.address[0].city }}, {{ data.entry[0].resource.address[0].district }}, {{ data.entry[0].resource.address[0].state }}</mat-card-content
          >
        </mat-form-field>
    </mat-accordion>
  </mat-card-content>
</mat-card>
