<!-- ============================================================== -->
<!-- Basic-->
<!-- ============================================================== -->
<mat-card>
  <mat-card-content>
    <mat-card-title>Mis Datos</mat-card-title>
  </mat-card-content>
</mat-card>
<!-- ============================================================== -->
<!-- As an Accordion -->
<!-- ============================================================== -->
<mat-card>
  <mat-card-content>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Información Personal </mat-panel-title>
          <mat-icon>account_circle</mat-icon>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label> Nombres </mat-label>
          <input matInput placeholder="Ej: John Richard"> </mat-form-field>
        <mat-form-field>
          <mat-label> Apellido Paterno </mat-label>
          <input matInput placeholder="Ej: Doe"> </mat-form-field>
        <mat-form-field>
          <mat-label> Apellido Materno </mat-label>
          <input matInput placeholder="Ej: Rick"> </mat-form-field>
        <mat-form-field>
          <input matInput type="number" min="1" placeholder="Edad"> </mat-form-field>
        <mat-form-field>
          <mat-label> RUT </mat-label>
          <input matInput placeholder="210"> </mat-form-field>
        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Destination </mat-panel-title>
          <mat-panel-description> Type the country name
            <mat-icon>map</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Country"> </mat-form-field>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
