<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->

<div class="row">
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Mis Imagenes</mat-card-title>
        <mat-card-subtitle>Mis Imagenes te llevara Pronto a el portal de imagenes.

          Por favor espere.
        </mat-card-subtitle>
        <mat-progress-bar mode="indeterminate" value="3"></mat-progress-bar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->









