<div class="row">
  <!-- Card column -->
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Mis Atenciones </mat-card-title>
      </mat-card-content>
      <mat-tab-group mat-stretch-tabs="false">
        <mat-tab label="Citas Futuras"><mat-card-content>Content 1</mat-card-content></mat-tab>
        <mat-tab label="Atenciones Ambulatorias"><mat-card-content>Content 2</mat-card-content></mat-tab>
        <mat-tab label="Hospitalizaciones"><mat-card-content>Content 3</mat-card-content></mat-tab>
        <mat-tab label="Atención de Urgencia"><mat-card-content>Content 4</mat-card-content></mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
