<!-- ============================================================== -->

<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<router-outlet><app-spinner></app-spinner></router-outlet>

<!-- Footer -->
<footer class="footer">
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Todos los derechos reservados, 2023. Hospital Clínico Dra. Eloísa
        Díaz La Florida.
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
