
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5 p-0 d-flex jc-c align-items-center"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Ajustes </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Perfil Clinico </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Cerrar Sesión </button>
</mat-menu>

