<!-- ============================================================== -->
<!-- Basic-->
<!-- ============================================================== -->
<mat-card>
  <mat-card-content>
    <mat-card-title>Mis solicitudes ciudadanas</mat-card-title>
  </mat-card-content>
</mat-card>

<mat-card-content>

</mat-card-content>
<mat-tab-group (selectedIndexChange)="_setDataSource($event)">
  <mat-tab label="Mis Solicitudes">
    <mat-card-content>
      <table mat-table [dataSource]="dataFuturo" class="mat-elevation-z8">
        <ng-container matColumnDef="fecha_cita">
          <th mat-header-cell *matHeaderCellDef> Fecha de Subida </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_cita}} </td>
        </ng-container>

        <ng-container matColumnDef="hora_cita">
          <th mat-header-cell *matHeaderCellDef> Tipo de Solicitud </th>
          <td mat-cell *matCellDef="let element"> {{element.hora_cita}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo_atencion">
          <th mat-header-cell *matHeaderCellDef> Fecha estimada de respuesta </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_atencion}} </td>
        </ng-container>

        <ng-container matColumnDef="profesional">
          <th mat-header-cell *matHeaderCellDef> Estado de la Respuesta </th>
          <td mat-cell *matCellDef="let element"> {{element.profesional}} </td>
        </ng-container>

        <ng-container matColumnDef="especialidad">
          <th mat-header-cell *matHeaderCellDef> Respuesta </th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/path-to-your-route', element.id]">{{ element.especialidad }}</a>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnas_futuro"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas_futuro;"></tr>
      </table>
      <mat-paginator #paginator1
                     [pageSizeOptions]="[5]"
                     showFirstLastButtons
                     aria-label="Select page">
      </mat-paginator>
    </mat-card-content>
  </mat-tab>
</mat-tab-group>
