<div class="row">
  <!-- Card column -->
  <div class="col-12">
    <mat-card>
      <mat-card-content>
        <mat-card-title>PruebaAPI </mat-card-title>
      </mat-card-content>
      
      <mat-tab-group *ngIf="data">
        <mat-tab label="Citas Futuras"
          ><mat-card-content> {{ data.entry[0].resource.id }} </mat-card-content></mat-tab
        >
        <mat-tab label="Atenciones Ambulatorias"
          ><mat-card-content *ngIf="data.entry[0].resource.identifier">{{
            data.entry[0].resource.identifier[0].value
          }}</mat-card-content></mat-tab
        >
      </mat-tab-group>
    </mat-card>
  </div>
</div>
